<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pdf_style.css">
    <title>Itinerary</title>
    <style>
        @page {
            size: A4;
            margin: 2cm
        }

        body {
            font-family: 'Arial', sans-serif;
        }
    </style>
</head>
<body>
    <h1 class="header">Itinerary</h1>
    <p class="day-n1">Day 01</p>
    
</body>
</html>