.mapBoard {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.mapContainer {
  position: absolute;
  top: 51.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 85%;
  visibility: hidden;
  border-radius: 24px;
  overflow: hidden;
}

.overlayRectangle {
  position: absolute;
  top: 51.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 85%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 24px;
  pointer-events: none;
  z-index: 100;
}
